<h2>Create comment</h2>
<% if comment_to.is_a?(Film) %>
  <% film = comment_to %>
  <h4>Create</h4>
<% elsif comment_to.is_a?(Comment) %>
  <% film = comment_to.commentable %>
  <h5>Reply</h5>
<% end %>
<%= form_for :comment, url: film_comments_path(film) do | form |%>
    <%= form.hidden_field :commentable_type, value: comment_to.class.name %>
    <%= form.hidden_field :commentable_id, value: comment_to.id %>
    <%= render 'comments/form_field', form: form %>

    <%= form.submit %>
<% end %>