<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
</head>
<body>
    <header class='header'>
        <div class='container'>
            <h1>Project</h1>
            <ul class="links">
                <li class="link">
                    <a href='/'>Home</a>
                </li>
                <li class="link">
                    <a href='/films'>Films</a>
                </li>
                <li class="link">
                    <%= link_to 'Search', omdb_search_films_path %>
                </li>
            </ul>
            <div>
                <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
                <%= image_tag(current_user.avatar.variant(:tiny)) if current_user.avatar.attached? %>
                <%= link_to(current_user.full_name, edit_profile_url) %>    
            <div/>
        </div>
    </header>
</body>
</html>


