<div id="<%= dom_id film %>">
  <% if film.cover_image_url %>
    <h2><%= image_tag(film.cover_image_url) %></h2>
  <% end %>
  <p>
    <strong>Name:</strong>
    <%= film.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

  <p>
    <strong>Year of creation:</strong>
    <%= film.year_of_creation %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= film.director %>
  </p>

  <p>
    <strong>Length:</strong>
    <%= film.length %>
  </p>

  <p>
    <strong>Genres:</strong>
    <%= film.genres.filter_map { |g| g.titleize if g.present? }.join(', ') %>
  </p>

</div>
