<p style="color: green"><%= notice %></p>

<h1>Films</h1>

<ul class="films" id="films">
  <% @films.each do |film| %>
    <li class="film">
      <% if film.cover_image_url %>
        <%= image_tag(film.cover_image_url) %>
      <% end %>
      <h3 class="name">
        <%= film.name %>
      </h3>
      <button class="show">
        <%= link_to "Show this film", film %>
      </button>
    </li>
  <% end %>
</ul>

<%= link_to "New film", new_film_path %>
